body {
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
    color: #333;
    background-color: #F0F0F0;
	line-height: 1.5;
}
header {
	background-color: #307D18;
	color: white;
	padding: 20px;
	text-align: center;
}
header h1{
	font-family: Bookman Old style, sans-serif;
	}
	
nav {
	background-color: #085E0C;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}
nav ul li {
	display:inline;
	margin: 0 15px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: #085E0C;
	padding: 8px 15px;
}
nav ul li a:hover{
	text-decoration: underline;
	background-color: #085E0C;
}
section {
    padding: 30px;
    margin:20px;
	border-radius: 5px;
	background-color: white;
}
article{
	margin-bottom:20px;
}
input, textarea{
	width: 100%;
	padding: 8px;
	margin-top:5px;
}
button{
	background-color:#307D18;
	color:white;
	border: none;
	padding:10px 15px;
	cursor: pointer;
}
button:hover{
	background-color:#307D18;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 3rem
}
footer{
	background-color:#307D18;
	color:white;
	text-align: center;
	padding: 10px;
}
.img-kouki{
	width:50%;
	height:50%;
	border-radius: 60%;
	object-fit: cover;
	margin: 0 10px;
	display: block;
	box-shadow: 0 4px 10px rgba(0,0,0,0.8);
}
	